# deps
node_modules/

# env
.env
.env*.local

# logs
*.log

# misc
.DS_Store
Thumbs.db

# build
/dist

# temp
/.tmp
/temp
*.tmp

# Prisma
/src/generated/

# SCSS
.sass-cache/
*.css.map
*.sass.map
*.scss.map
