<form action="/login" method="post" class="login-form">
  <h3>Log In</h3>
  <div>
    <label for="username">Enter your username</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="password">Enter your password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <input type="submit" id="submit-btn">
</form>