<form action="/signup" method="post" class="sign-up-form">
  <h3>Sign Up</h3>
  <div>
    <label for="username">Create an username (must be unique)</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="password">Create a password </label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="name">Enter your name</label>
    <input type="text" name="name" id="name" required>
  </div>

  <input type="submit" id="submit-btn">
</form>