<h3>Hello 💚</h3>
<a href="/account-settings">Update an Account </a>
<a href="/tasks">My Tasks</a>
<p>Log Out</p>
<button id="logout-btn" onclick="logOut()">Confirm</button>
<p>Delete Account</p>
<button id="delete-btn" onclick="deleteAccount()">Confirm</button>

<script>
  function logOut() {
    fetch("/account", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      }
    }).then(response => {
      if (response.ok) {
        window.location.href = "/";
      }
    }).catch(error => {
      console.error("Logout error:", error);
    });
  }

  function deleteAccount() {
    fetch("/account", {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      }
    }).then(async (response) => {
      const data = await response.json();
      if (data.redirect) {
        window.location.href = data.redirect;
      }
    }).catch(error => {
      console.error("Deleting error:", error);
    });
  }
</script>